activator*
.history
.cache
test-result
server.pid
bin/
tmp/
/db
/lib
/logs
/modules
/project/project
/project/target
/target
/dist
/*.iml
/out
/.idea
/.idea_modules
.eclipse
/.classpath
/.project
/.settings
/RUNNING_PID
